@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
}

.sidebar {
  background: rgba(20, 35, 138, 1);
  width: 15rem;
  height: 100vh;
  transition: 0.5s;
}

.sidebar .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(214, 10, 11, 1);
  padding: 1rem;
}

.sidebar .sidebar-links {
  display: flex;
  flex-direction: column;
}

.sidebar .sidebar-links span {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(226, 225, 225, 0.192);
}

.sidebar .sidebar-links span .dropdown-container{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1.5rem;
}

.sidebar .sidebar-links span.dropdowns{
  flex-direction: column;
  padding: 0;
}
.dropdown{
  background: rgba(43, 64, 209, 0.80);
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.dropdown .main-dropdown{
  margin-left: 1.5rem;
  display: flex;
  gap: 10px;
}

.removeDrop{
  display: none;
}

.sidebar .sidebar-links span .drop{
  margin-left: 3rem;
}
.toggle{
  cursor: pointer;
}

.sidebar .sidebar-links span a {
  transition: 0.5s;
  color: white;
  text-decoration: none;
}

.active-sidebar{
  background: rgba(20, 35, 138, 1);
  width: 4.5rem;
  height: 100vh;
  transition: 0.5s;
}

.active-sidebar .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(214, 10, 11, 1);
  padding: 1rem;
}


.active-sidebar .sidebar-links {
  display: flex;
  flex-direction: column;
}

.active-sidebar .top .logo{
  display: none;
}

.active-sidebar .sidebar-links span {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(226, 225, 225, 0.192);
}

.active-sidebar .sidebar-links span.dropdowns .dropdown{
  display: none;
}

.active-sidebar .sidebar-links span.dropdowns .dropdown-container a{
  display: none;
}

.active-sidebar .sidebar-links span .drop{
  display: none ;
}

.active-sidebar .sidebar-links span a{
  opacity: 0;
  transition: 0.5s;
  color: white;
  text-decoration: none;
}



/* -------------------------------HEADER STYLE  */
header nav {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1rem;
}

header nav .nav-left {
  display: flex;
  align-items: center;
}
header nav .nav-left .search-input input {
  padding: 10px;
  border: 0;
  outline: 0;
}

header nav .nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.line {
  width: 2px;
  height: 25px;
  background: #D60A0B;
}
header nav .nav-right .user .userProfile {
  width: 30px;
  height: 30px;
  background: url("https://www.stryx.com/cdn/shop/articles/man-looking-attractive.jpg?v=1666662774");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}



@media(max-width: 390px){
  header nav{
    padding: 0;
    height: 4rem;
    display: grid;
    grid-template-columns: 60% 40%;
  }

  header nav .nav-left {
  }

  header nav .nav-right {
    gap: 10px;
  }
}