@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
}

.sidebar {
  background: rgba(20, 35, 138, 1);
  width: 20%;
  height: 100vh;
}

.sidebar .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(214, 10, 11, 1);
  padding: 1rem;
}

.sidebar .sidebar-links {
  display: flex;
  flex-direction: column;
}

.sidebar .sidebar-links span {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(226, 225, 225, 0.192);
}

.sidebar .sidebar-links span a {
  color: white;
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1rem;
}

header nav .nav-left {
  display: flex;
  align-items: center;
}
header nav .nav-left .search-input input {
  padding: 10px;
  border: 0;
  outline: 0;
}

header nav .nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.line {
  width: 2px;
  height: 25px;
  background: #D60A0B;
}
header nav .nav-right .user .userProfile {
  width: 30px;
  height: 30px;
  background: url("https://www.stryx.com/cdn/shop/articles/man-looking-attractive.jpg?v=1666662774");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
